

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 160px 0 160px;
   
    height: 500px;
   border-radius: 24px;
   max-width: 1280px;
   padding: 100px 90px;
   
   
}

#secondary-bg{
    background-color: #C6E4D6;
}

.btn-primary{
    
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    padding: 17px 32px;
    border: none;
    font-size: 18px;
    font-weight: bold;

}




.banner-content{
   max-width: 622px;
  
   
  
}
.banner-title {
    font-size: 24px;
   color: rgba(14, 14, 14, 0.5);
   margin-bottom: 2px;
    
}
.banner-description{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
   margin-top: 0;
   margin-bottom: 20px;
   
}
.banner-profile-pic{
    width: 329px;
    object-fit: contain;
}
.text-center{
    text-align: center;
}

.technology-container{
    display: flex;
    gap: 24px;
    
}

.technology{
    padding: 30px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
   
}
.visions{
    margin: 100px 160px;
}

.tech-description{
    font-size: 16;
    color: rgba(14, 14, 14, 0.7);
}
.tech-title{
    font-weight: bold;
    font-size: 20px;
}
.vision-title{
    font-size: 40px;
    font-weight: bold;

}
.btn-1{
    background-color: #5490F5;
    color: #FFFFFF;
}
.btn-2{
    background-color: #09A15C;
     color: #FFFFFF;
}
.btn-3{
background-color: #FFC239;
color: #FFFFFF;
}
button{
    border: none;
    border-radius: 8px;
  
    
}

.hw{
    height: 41px;
    width: 120px;
}
.vision-description{
color: rgba(14, 14, 14, 0.7);
}
#yellow{
    background-color: #F7EBCF;
}
.challenge{
    background-image: url(../assets/quote-bg.png);
    height: 206px;
    max-width: 1280px;
  padding: 10px;
    border-radius: 16px;
    border: none;
     background-repeat: no-repeat;
    background-position: top left;
   border: 2px solid #F1F1F3;
   margin-top: 20px;
   padding: 5px;
   object-fit: cover;
  
}   
.challenge-description{
  margin-bottom: 0px;
    font-size: 16px;
   
   }
   .challenge-subtitle{
    color: rgba(14, 14, 14, 0.6);
    font-size: 12px;
    margin-top: 2px;
   
    }
.challenge-title{
margin-top: 12px;
margin-bottom: 0px;
}